## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

In [2]:

import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from bs4 import BeautifulSoup

In [4]:
#scraping wikipedia webpage 
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find('tbody')

records = table.select('tr')

row = [r.get_text() for r in records]

In [5]:
#Pre-processing the data
df = pd.DataFrame(row)
df_col = df[0].str.split('\n', expand=True)
df_clean1 = df_col.rename(columns=df_col.iloc[0])

In [6]:
df_clean = df_clean1.drop(df_clean1.index[0])
df_clean.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

In [7]:
df_wNA = df_clean[df_clean.Borough != 'Not assigned']
df_wNA.head()

    Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

In [8]:
df_PC = df_wNA.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)
df_PC.reset_index(inplace = True)
df_PC.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

In [9]:
#Not assigned value of the Borough and the Neighborhood columns will be Queen's Park
df_QP = df_PC.replace("Not assigned", "Queen's Park")
df_QP.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [10]:
#use the .shape method to print the number of rows of your dataframe.
df_QP.shape

(103, 3)